{% extends 'base3.html.twig' %}
{% block body %}
<div class="content-wrapper">
  <div class="container">
    <h1>Tareas a realizar:</h1><br>
    <ul>
      <li>Migración de aplicaciones desarrolladas en php.</li>
      <li>Migración de intranet Fermax a symfony v3.4...</li>
      <li>OTROS</li>
      <li>Servicios y procesos...symfony</li>
      <li>ampliar conocimeientos...symfony</li>
      <li>App XML</li>
      <li>Consultas y procedimeintos almacenados PL SQL sobre BDD Oracle Database 12c</li>
    </ul>
    <p><b>AngularJS</b>+HTML5+CSS3: Frontend</p>
    <p><b>NodeJs:</b>Backend.</p>
  </div>
<br>
  <div class="container">
    <h1>Tarea Especifica:</h1>
    <p>Desarrollo de una aplicacion para la introduccion de pedidos en el ERP corporativo (Spyro 12c) a partir de ficheros XML generados desde una filial de Fermax en Belgica.</p><br>
    <ul>
      <li>Procesado del archivo XML original</li>
      <li>Traducción de los elementos del XML a los elementos de BBDD a almacenar.</li>
      <li>Creación/invocación de Web Service para abstraccion de la capa de persistencia.</li>
      <li>Gestión de errores, incluyendo control de pedidos duplicados, verificación de la correcta inserción en BBDD con rolback en caso de fallo.</li>
    </ul>
  </div><br>
  <div class="container">
      <h1>Tareas adicionales a desarrollar:</h1>
  </div>
</div>
{% endblock %}
