#controlbundle_usuarios_Insert{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    width: 100%;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    margin-top: 10px;
}
.contenedor{
  width: 100%;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 12%;
  margin-top: -94px;
  text-align: center;
}

input,select{
  display: block;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#formulario{
  margin-right: 25%;
  margin-top: -50px;
}
#logo{
  margin-top: 10px;
  margin-left: 48%;
}
